$background-color: #0a152c;
$white-color: #ffffff;
$gray-color: #f6f6f6;
$gray-color-2: #989898;
$gray-color-3: #768492;
$btn-first-color: #122650;
$btn-second-color: #142551;
$background-footer-main-color: #2a2c38;
$background-footer-second-color: #1f212c;
